PUBLIC_SITE_URL=https://example.com
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2025-01-01
SANITY_READ_TOKEN=
SANITY_WRITE_TOKEN=
SANITY_FALLBACK_MODE=auto
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
AWS_REGION=ap-northeast-1
S3_BUCKET_NAME=
CLOUDFRONT_DISTRIBUTION_ID=
